.wrapper {
  padding: 20px;
  text-align: center;
}

.num {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
  box-shadow: 1px 1px 10px 1px rgb(185, 185, 185);
  transform: translate(0px, -2px);
}
