/* .xp {
  text-align: center;
} */

.sidebar-section {
  width: 300px;
  height: 100vh;
  margin-left: 10px;
  border-right: 1px solid #9999cc;
}

.profile-section {
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}

.sidebar-items {
  line-height: 3;
  margin-left: 30px;
}

.user-name {
  margin-bottom: 20px;
}

.xp {
  margin-top: 20px;
}
